.filters-container {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.pill-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: #333; 
    border-radius: 2rem;     
    padding: 6px 8px;       
    min-width: 35px;  
    font-size: 0.85rem;
}

select{
    border-radius: 2rem;
    height: 2.5rem;
    padding: 0 0.75rem;  
    border: none;       
    font-size: 0.85rem;
}