.filters-container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.pill-button{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: #333; 
    border-radius: 1rem;     
    padding: 4px 8px;       
    min-width: 35px;  
}

select{
    border-radius: 1rem;
    height: 3rem;
}