.card-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px 0; 
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto;
}

.no-results-message {
    text-align: center;
    color: #888;
    font-size: 1.2rem;
    margin-top: 40px;
}

.card-list-error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; 
    width: 100%;
}