.card {
  background: rgb(36, 36, 36);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden; 
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover; 
}

.card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-btn {
  margin-top: auto; 
  background-color: #393939;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.card-btn.in-watchlist {
  background-color: #f6d621;
  color: #111;
}

.genre-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.genre {
    color: #aaa;
    text-transform: capitalize;
    font-size: 0.9rem;
}

.rating {
    background-color: #333; 
    border-radius: 1rem;     
    padding: 4px 8px;       
    min-width: 35px;        
   
}
.rating.rating-high {
  color: #2ecc71;
  background-color: transparent;
}

.rating.rating-medium {
  color: #f6d621;
  background-color: transparent;
}

.rating.rating-low {
  color: #e74c3c;
  background-color: transparent;
}

.card-body a {
  text-decoration: none;
  color: inherit;
}

h2{
 text-align: center;
}