.page-buttons-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-btn {
  background-color: white;
  color: #888;
  border: none;
  border-radius: 20px;
  padding: 10px 18px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.nav-btn:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.nav-btn.active {
  background-color: #f6d621; 
  
}

.nav-container{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 1rem;
}