.page-buttons-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-btn {
  background-color: white;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 8px 24px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.nav-btn:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.nav-btn.active {
  background-color: #fff; 
  
}