.search-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.search-input {
    width: 90%;
    max-width: 500px;
    padding: 14px 24px;
    border-radius: 30px; 
    border: none;
    outline: none;
    font-size: 1rem;
    background-color:#333;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); 
}

.search-input::placeholder {
    color: #888;
}