@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  text-decoration: none;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#19191a, #1a1a1d);
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; 
    padding: 20px;
}

main.content {
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 20px;
}

.search-filters-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;
  flex-wrap: wrap;
  align-items: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-size: 1.2rem;
  color: white;
}

.nav-container{
  background-color: #333;
  border-radius: 1rem;
}